<div>
  {{#if error}}
  <div class="alert alert-danger">
  <strong>Error</strong>
    
      <p>{{error}}</p>
  </div>
  {{/if}}

  {{#if info}}
  <div class="alert alert-info">
    <strong>Info</strong>
    <p>{{info}}
  </div>
  {{/if}}

</div>