<div>
  {{#each items}} {{#if this.error}}
  <div class="alert alert-danger">
    <a href="javascript:;" class="close" aria-label="close" data-alert={{this.id}}>&times;</a>

    <strong>Error</strong>

    <p>{{this.error}}</p>
  </div>
  {{/if}} {{#if this.info}}
  <div class="alert alert-info">
    <a href="javascript:;" class="close" aria-label="close" data-alert={{this.id}}>&times;</a>

    <strong>Info</strong>
    <p>{{this.info}}</p>
  </div>
  {{/if}} {{/each}}

</div>