<div>
  <h1>Groups in your area</h1>
  <table>
    <tbody>
  {{#each items}}
  <tr>
    <div class="row">
    <div class="col-md-4">
      <img src="{{this.avatarUrl}}" class="img img-responsive"></img>

    </div>

    <div class="col-md-8">
      <h2>
  {{this.name}} </h2>
      <p>{{this.description}}</p>
      <a>Join group</a>
      
      <p>Created by: <strong>{{this.owner.username}}</strong></p>

  
    </div>
    </div>
  
  </tr>
  {{/each}}

  </tbody>
  </table>
</div>  