
 <div>

  <div class="col-xs-6">

    
    <h1>{{name}} </h1>
      <p>{{description}}</p>
      <a>Join group</a>

      <p>Group owner: <strong>{{owner.username}}</strong>
      <p>Members:</p>
      <ul>
        
      </ul>
  </div>
  <div class="col-xs-6">
    <img src='{{avatarUrl}}' class="img img-responsive img-thumbnail"></img>
  </div>
</div>