<div>
  <h2>Home</h2>
  <p>Welcome to our groups website! You can meet awesome people here.</p>
  <p>Joining is easy. Just click <a href=# id='register-button'>here</a> to go to to the sign up page.</p>

  <p>Hello there!</p>
  <p>General Kenobi.</p>
</div>