<div>
  <h2>{{username}}</h2>
  
  <p>{{description}}</p>


  <a href=# id='logout-button'>Logout</a>
</div>

<!-- 
Id, primary key,AI(auto incremented)  - unique 
username - string,not null, 256(length)
email - string,not null, 256(length)
description - string, nullable, 500(length)
password - string - plain- for the moment, no encryption needed, not null, 256(length)
avatarUrl - string, nullable, 500(length)
age - integer,nullable, 
currentProject that he/she works on - string,nullable, 500(length)
agency ( Brasov, Iasi, Cluj, Bucharest, Chisinau) - string,nullable, 500(length)

  -->